#contact-page {
  min-height: calc(100vh- 4rem);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  margin-bottom: 1rem;
  font-size: 3rem;
  color:yellow;
}

.contact-description {
  /* padding: 1rem;
  font-size: medium;
  font-weight: 300; */
  font-weight: 400;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
}
.contact-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.name,
.email,
.msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.submit-btn {
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.75rem 3.5rem;
  margin: 2rem;
  border: none;
}
.links {
  display: flex;
  flex-wrap: wrap;
}

.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
